<link rel="stylesheet" href="css/signup.css">
<div class="login">
  <div class="login-triangle"></div>
  <h2 class="login-header">SING UP</h2>
  <form class="login-container" action="/signup" method="post">
    <p><input type="text" placeholder="Name" name="userName" id="userName"></p>
    <p><input type="text" placeholder="E-mail" name="e-mail" id="mailAddress"></p>
    <p><input type="password" placeholder="Password" name="password" id="password"></p>
    <p><input type="password" placeholder="Password(confirmation)" name="passwordConfirmation"></p>
    <p><input type="submit" value="Sign up"></p>
    </div>
  </form>
</div>
